.list {
  .list-title {
    font-size: @font-size-smaller;
    color: rgb(119, 119, 119);
    font-weight: 600;
    height: 22px;
    line-height: 22px;
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;

    .toggle {
      float: right;
      display: none;
    }

    &:hover {
      .toggle {
        display: block;
      }
    }
  }
}
