.move-note-dialog {
  width: 400px;
  height: 280px;

  .notebook-tree {
    display: block;
    min-height: 230px;
    padding: 16px;
  }

  .buttons {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border-top: 1px solid @border-color-darker;
    height: 50px;

    .btn {
      margin-right: 16px;
    }
  }
}
