.note > .editor {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 6px;

  .slate-editor {
    min-height: 600px;
    padding: 15px 20px;
    background: white;
    box-shadow: 0 0 0.5px rgba(0, 0, 0, 0.28), 0 1px 1.5px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
  }
}
