.tag-bar
{
  @item-height: 40px;
  @padding-left: 20px;
	@input-width: 160px;
	@input-height: 15px;

  flex-shrink: 0;
  display: flex;
  align-self: stretch;
  height: @item-height;
  padding: 0 @padding-left 0 @padding-left;
	align-items: center;
	font-size: 12px;
  // border-bottom: 1px solid @border-color;

	.notebook
	{
		color: @icon-color;
		font-size: 12px;
		cursor: pointer;
		margin-right: 10px;

		.icon
		{
			font-size: 14px;
			cursor: default;
		}

		.title
		{
			margin-left: 0px;
		}
	}

  input.note-title {
    padding: 0 5px 0 5px;
    border: none;
    font-size: 18px;
    font-weight: normal;
    flex-shrink: 0;
    outline: none;
    background: inherit;

    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color: @icon-color;
    }
  }

	.tags
	{
		flex: 0 0 auto;
		display: flex;
		align-items: center;
		position: relative;

		.icon
		{
			font-size: 14px;
		}

		.tag
		{
			margin-left: 4px;
      cursor: pointer;
		}
	}
}
