.tree {
  @item-height: 28px;
  .tree-item {

    // TODO put it to note-stack-list
    &:not(.collapsed) {
      .collapse-icon {
        transform: rotate(90deg);
      }
    }

    .link {
      display: flex;
      align-items: center;
      height: @item-height;
      line-height: @item-height;
      font-size: @font-size-base;

      &.selected {
        background: @nav-selection-bg;
      }

      .collapse-icon-placeholder {
        display: inline-block;
        width: 16px;
      }

      .collapse-icon {
        width: 12px;
        height: 12px;
        font-size: 12px;
        font-weight: 500;
        transition: transform 0.25s;
      }

      .icon {
        color: @text-color;
        margin-right: 5px;
        flex-shrink: 0;
        text-align: center;
        height: @item-height;
        line-height: @item-height;
      }

      .text {
        flex-grow: 1;
      }
    }
  }

  .tree-children {
    &.collapsed {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }
    display: block;
    max-height: 800px;
    transition: max-height 0.25s ease-in;
  }
}
