.login-page
{
  flex-grow: 1;
  flex-direction: column;
  display: flex;

  .draggable
  {
    -webkit-app-region: drag;
    height: 30px;
  }

  a.logo
  {
    align-self: center;
    padding: 20px;

    img
    {
      display: block;
      height: 50px;
    }
  }

  .login-form
  {
    flex-grow: 1;
  }
}
