nav
{
  @padding: 16px;

  background-color: @nav-bg;
  border-right: 1px solid @border-color;  
  padding-top: 16px;
  
  .header
  {
    padding-left: @padding;
    padding-right: @padding;
    padding-bottom: 16px;
  }
  
  .content
  {
    // padding-left: @padding + 10px;
  }
}
