nav
{
  background-color: @nav-bg;
  border-right: 1px solid @border-color;
  
  > .nav-items
  {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    
    > .nav-item
    {
      
      margin-left: 10px;
      &.selected
      {
        
      }
    }
  }
}
