.main-page > .header
{
  width: 100%;
  height: 37px;
  flex-shrink: 0;
  padding-left: 99px;
  display: flex;
  align-items: center;
  background-color: @header-bg;
  border-bottom: 1px solid @border-color;
  justify-content: space-between;
  padding-right: 20px;

	// background: rgb(240, 240, 240);
	// border-bottom: 1px solid rgb(143, 143, 143);

	background-image: -webkit-linear-gradient(#ececec 0%, #ececec 1.9%, #e9e9e9 2%, #d2d2d2 100%);
  color: #434648;
	border-bottom: 1px solid rgb(184, 182, 184);

  > .group
  {
    // .osx-buttons
    // {
    //   .osx-button
    //   {
    //     &:active
    //     {
    //       background: @header-button-bg-darker;
    //     }
		//
    //     .icon
    //     {
    //       color: @icon-color;
    //     }
    //   }
    // }
		//
    // .osx-buttons
    // {
    //   .create-note-button
    //  {
    //    width: auto !important;
    //    flex-grow: 1;
    //  }
		//
    //  > .dropdown-button
    //  {
    //    .icon
    //    {
    //      font-size: 14px;
    //      &::before
    //      {
    //        top: 1px;
    //      }
    //    }
    //  }
    // }
  }

	> *
	{
		display: flex;
		align-items: center;
	}

	.navigate
	{
		padding-left: 0;

		> .icon
		{
			font-size: 18px;
			margin-right: 12px;
			color: @icon-color;

			&.disabled
			{
				color: #bbb;
			}
		}

		> .sync-icon
		{
			// endless rotate
			&.rotate
			{
				animation: rotating 2s linear infinite;
			}

			@-webkit-keyframes rotating
			{
				from {
					transform: rotate(0deg);
				}
				to {
					transform: rotate(-360deg);
				}
			}
		}
	}

	.toolbar-container
	{
		.toolbar-items
		{
			.btn
			{
				margin-left: 10px;
			}
		}
	}
}
