.main-page > .header
{
  width: 100%;
  height: 40px;
  flex-shrink: 0;
  padding-left: 84px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  background-color: @header-bg;
  border-bottom: 1px solid @border-color;

  > .icon
  {
    height: 28px;
    width: 28px;
    padding-top: 4px;
    text-align: center;
    margin-right: 5px;
    display: block;
    
    &::before
    {
      font-size: 20px;
      color: @icon-color;
    }
  }
  
  // endless rotate
  .rotate
  {
    animation: rotating 2s linear infinite;
  }
  
  @-webkit-keyframes rotating
  {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-360deg);
    }
  }
}
