.octicon
{
  display: inline-block;
  vertical-align: text-top;
  fill: currentColor;
  font-size: 16px;
  
  &.octicon-star
  {
    font-size: 17px !important;
  }

  &::before
  {
    color: inherit !important;
    line-height: inherit;
    height: inherit;
    vertical-align: top;
    position: relative;
  }
}
