.list
{
  @item-height: 32px;
  @folder-border-color: transparent;

  display: flex;
  width: 100%;
  flex-direction: column;

  > .list-item
  {
    &.selected
    {
      .content
      {
        background: @nav-selection-bg;
        color: @nav-selection-color;

				&::before
				{
					opacity: 1;
				}

        > .icon, > .expand-icon
        {
          color: @text-color;
        }
      }
    }

    &.open
    {
      > .content > .expand-icon
      {
        transform: rotate(90deg);
      }

      > .nested-list
      {
        display: block;
        max-height: 700px;
        transition: max-height 0.25s ease-in;
      }
    }

    > .nested-list
    {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }

    > .content
    {
      color: @nav-color;
      height: @item-height;
      line-height: @item-height;
      font-weight: normal;
      display: flex;
			position: relative;

			&::before
      {
        content: "";
        position: absolute;
        pointer-events: none;
        z-index: 2;
        top: 0;
        left: 0;
        bottom: 0;
        width: 3px;
				opacity: 0;
				transition: opacity .16s;
				background: @theme-color;
      }

			> .icon
			{
				width: 16px;
			}

      > .expand-icon
      {
				width: 12px;
				height: 12px;
				font-size: 12px;
				font-weight: 500;
        transition: transform 0.25s;
      }

      > .icon, > .expand-icon
      {
        color: @text-color;
        margin-right: 5px;
        flex-shrink: 0;
        text-align: center;
        height: @item-height;
        line-height: @item-height;
      }

      .text
      {
        flex-grow: 1;
      }
    }
  }
}
