.lea-list
{
  @item-height: 32px;
  
  display: flex;
  width: 100%;
  flex-direction: column;

  div
  {
    > .lea-list-item
    {
      height: @item-height;
      line-height: @item-height;
      font-weight: normal;
      display: flex;
      
      &.selected
      {
        background: @nav-selection-bg;
        color: white;
      }
      
      .icon
      {
        width: 28px;
      }
      
      .expand-icon
      {
        width: 28px;
      }
      
      .icon, .expand-icon
      {
        flex-shrink: 0;
        font-size: 18px;
        text-align: center;
        height: @item-height;
        line-height: @item-height;
        margin-right: 2px;
      }
      
      .text
      {
        flex-grow: 1;
      }      
    }
  }
}
