.list
{
  @item-height: 32px;
  // @folder-border-color: #e4e4e4;
  @folder-border-color: transparent;

  display: flex;
  width: 100%;
  flex-direction: column;

  > .list-item 
  {
    &.selected
    {
      
      .content
      {
        background: @nav-selection-bg;
        color: white;
      }
    }
    
    &.open
    {
      > .content > .expand-icon
      {
        transform: rotate(-90deg);
      }
      
      > .nested-list
      {
        display: block;
        max-height: 700px;
        transition: max-height 0.25s ease-in;
      }
    }

    > .nested-list
    {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }

    > .content
    {
      color: @nav-color;
      height: @item-height;
      line-height: @item-height;
      font-weight: normal;
      display: flex;

      > .expand-icon
      {
        transition: transform 0.25s;
      }

      > .icon, > .expand-icon
      {
        width: 28px;
        flex-shrink: 0;
        font-size: 16px;
        text-align: center;
        height: @item-height;
        line-height: @item-height;
        margin-right: 2px;
      }
      
      .text
      {
        flex-grow: 1;
      }
    }
  }

  > .list-item.folder
  {
       
      & + .list-item
      {
      }
      
      &.open
      {
          background: @nav-expanded-bg;
      }
  }
}
