.nav
{
  @header-height: 32px;
  
  width: 165px;

  *
  {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  background-color: @nav-bg;
  border-right: 1px solid @border-color;  
  padding-top: 8px;
  
  .nav-item
  {
    .header
    {
      padding-left: 4px;
      padding-right: 4px;
      padding-bottom: 8px;
      font-size: 16px;
      font-weight: normal;
      height: @header-height;
      line-height: @header-height;
      
      .icon
      {
        display: inline-block;
        width: 28px;
        font-size: 18px;
        text-align: center;
        height: @header-height;
        line-height: @header-height;
        margin-right: 2px;
      }
    }
    
    &.selected
    {
      .header
      {
        background: @nav-selection-bg;
        color: white;
      }
    }
  }
}
