.note-list-header
{
  height: 40px;
  border-bottom: 1px solid @border-color;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .title
  {
    font-size: 16px;
  }
  
  .icon
  {
    position: absolute;
    font-size: 18px;
    right: 8px;
  }
}
