.note
{
  flex-grow: 1;
  display: flex;
  min-width: 0;
  // important. By default, flex items won't shrink below their minimum content size.

  &.edit
  {
    .preview-container
    {
      display: none;
    }
  }

  &.preview
  {
    .editor-container
    {
      display: none;
    }
  }
}
