.title-bar
{
  @item-height: 36px;
  @padding-left: 20px;

  flex-shrink: 0;
  display: flex;
  align-self: stretch;
  height: @item-height;
  padding: 0 @padding-left;
  justify-content: space-between;

  .note-title
  {
    border: none;
    font-size: 18px;
    font-weight: normal;
    flex-grow: 1;
    
    // padding: 0 @padding-left 0 @padding-left;
    padding: 0;
    outline: none;
    
    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color: @icon-color;
    }
  }
  
  .actions.osx-buttons
  {
    flex: 1 1 auto;
    align-self: center;
    flex-grow: 0;
    
    .osx-button
    {
      width: 38px;
      
      &:active, &.active
      {
        color: white;
        background: @theme-color;
        
        .icon
        {
          color: white;
        }
      }
    }
  }
}
