.note > .editor
{
  @padding-left: 20px;

  font-family: 'Helvetica Neue', 'Arial', 'Courier New', 'Lucida Sans', 'Tahoma';
  border: none;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  min-width: 0;
  font-weight: normal;

  #toolbar-container
  {
    padding-left: @padding-left;
    padding-right: @padding-left;
    
    .ql-toolbar
    {
      border: none !important;
      border-bottom: 1px solid @border-color !important;
      
      &:first-child
      {
        padding-left: 0;
      }
    }
  }
  
  #editor-container
  {
    border: none !important;    
    overflow-y: scroll;

    .ql-editor
    {
      padding-left: @padding-left * 2;
      
      &::before
      {
        font-style: normal !important;
        color: @icon-color;
      }
    }
  }

  #note-title
  {
    border: none;
    font-size: 18px;
    font-weight: normal;
    
    padding: 14px @padding-left * 2 0 @padding-left * 2;
    outline: none;
    
    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
      color: @icon-color;
    }
  }
}
