.note > .note-editor
{
  @padding-left: 20px;

  font-family: 'Helvetica Neue', 'Arial', 'Courier New', 'Lucida Sans', 'Tahoma';
  border: none;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  min-width: 0;
  font-weight: normal;

  #toolbar-container
  {
    padding-left: @padding-left;
    padding-right: @padding-left;
    
    .ql-toolbar
    {
      border: none !important;
      border-bottom: 1px solid @border-color !important;
      
      svg
      {
        .ql-stroke
        {
          stroke: @icon-color;          
        }
        
        .ql-fill
        {
          fill: @icon-color;
        }
      }
      
      .ql-active
      {
        svg
        {
          .ql-stroke
          {
            stroke: @theme-color;          
          }
          
          .ql-fill
          {
            fill: @theme-color;
          }
        }        
      }

      .ql-size
      {
        color: @icon-color;
      }

      button
      {
      }
      
      &:first-child
      {
        padding-left: 0;
      }
    }
  }
  
  #editor-container
  {
    border: none !important;    
    overflow-y: scroll;

    .ql-editor
    {
      padding-left: @padding-left;
      padding-right: @padding-left;
      
      &::before
      {
        font-style: normal !important;
        color: @icon-color;
      }
    }
  }
}
