.search-wrapper
{
  position: relative;
  width: 245px;
  height: 24px;
  margin-right: 20px;

  .search-icon
  {
    position: absolute;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    left: 10px;
    top: 7px;
    z-index: 5;
    color: #888;
  }

  input[type=search]
  {
    font-size: 14px;
    display: inline-block;
    width: 100%;
    padding: 2px 13px 2px 26px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    
    &:focus
    {
      outline: none;
    }
    
    &::-webkit-input-placeholder
    {
      color: @icon-color;
    }
  }
}
