.search-wrapper
{
  position: relative;
  width: 190px;
  height: 24px;

  input[type=search]
  {
    border: 1px solid @border-color-darker;
    background: white;
		box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);

		// wechat like search
		// border: none;
		// background: rgb(225, 225, 225);

    border-radius: 4px;
    font-size: 14px;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 2px 10px 3px 24px;
    color: @icon-color;

		text-indent: 55px;
		-webkit-transition: text-indent 200ms ease-in;
    transition: text-indent 200ms ease-out;

    &:focus
    {
      // outline: none;
      border:1px solid @border-color-darker;
			text-indent: 0;

			& + .search-icon
			{
				left: 5px;
			}
    }

    &::-webkit-input-placeholder
    {
      color: @icon-color;
    }
  }

	.search-icon
	{
		position: absolute;
		display: inline-block;
		font-size: 14px;
		cursor: pointer;
		top: 5px;
		color: @icon-color;

		left: 60px;
		-webkit-transition: left 200ms ease-in;
		transition: left 200ms ease-out;
	}

}
