.user-info
{
  @item-height: 26px;
  
  height: 40px;
  display: flex;
  align-items: center;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 8px;

  > img
  {
    height: auto;
    width: auto;
    max-width: @item-height;
    max-height: @item-height;
    border-radius: 50%;
    display: inline-block;
  }

  .name
  {
    flex-grow: 1;
    padding-left: 8px;
    font-weight: normal;
    height: @item-height;
    line-height: @item-height;
  }
  
  .icon
  {
    flex-shrink: 0;
    font-size: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
