.lea-list
{
  @item-height: 18px;
  user-select: none;
  
  *
  {
    cursor: default;
    user-select: none;
  }
  
  div
  {
    > .lea-list-item
    {
      background: cyan;
      
      &.selected
      {
        background: @nav-selection-bg;
      }
      
      .expand-icon
      {
        > .fa
        {
          display: inline-block;
          width: @item-height;
          height: @item-height;
          line-height: @item-height;
          text-align: center;
                  
        }
      }
    }
    
    > .lea-list
    {
      padding-left: 14px;
    }
  }
}
