.login-form
{
  display: flex;
  flex-direction: column;

  input
  {
    align-self: center;
    display: block;
    width: 220px;
    height: 35px;
    line-height: 35px;
    margin: 5px auto;
    font-size: 16px;
  }

  input
  {
    border: none;
    border-bottom: 1px solid @ld-separate-color;
    padding-left: 5px;
    padding-right: 5px;

    &:focus
    {
      outline:none;
    }
  }

  button[type="submit"]
  {
    display: none;
  }
}
