@font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;

// ----- Font Sizes -----
@font-size-base:          14px;

@font-size-tiny:          @font-size-base * 0.75; // 10.5px
@font-size-smaller:       @font-size-base * 0.86; // 12px
@font-size-small:         @font-size-base * 0.93; // 13px
@font-size:               @font-size-base;        // 14px
@font-size-large:         @font-size-base * 1.14; // 16px
@font-size-larger:        @font-size-base * 1.29; // 18px

@font-size-h1:            @font-size-base * 1.71;  // 24px
@font-size-h2:            @font-size-base * 1.71;  // 24px
@font-size-h3:            @font-size-base * 1.43;  // 20px
@font-size-h4:            @font-size-base * 1.29;  // 18px
@font-size-h5:            @font-size-base;
@font-size-h6:            @font-size-base * 0.86;  // 12px


// ----- Colors -----
@text-color: #222;
@body-bg: white;
@border-color: #e1e1e1;
@border-color-darker: #cacaca;

@icon-color: #777;

@header-bg: white;
@header-button-bg: white;
@header-button-bg-darker: white;

@login-bg: #f2f4f8;

@theme-color: rgb(85, 142, 252);

@nav-bg: #f5f6f6;
@nav-color: @text-color;
@nav-selection-bg: @theme-color;
@nav-selection-color: white;
@nav-expanded-bg: #eceef2;

@note-list-bg: #fafafa;
@note-list-color-title: @text-color;
@note-list-color-snippet: #747474;
@note-list-color-time: @nav-selection-bg;
@note-list-selecton-bg: rgb(235, 235, 237);
