@import "./containers/App.less";
@import "./containers/LoginPage.less";
@import "./components/LoginForm.less";
@import "./variables.less";

*
{
  box-sizing: border-box;
}

html, #content
{
  width: 100%;
  height: 100%;
}
