@font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
@font-size-small: 12px;
@font-size-base: 14px;
@font-size-h1: ceil(@font-size-base * 3.33);
@font-size-h2: ceil(@font-size-base * 1.67);
@font-size-h3: ceil(@font-size-base * 1.33);
@text-color: #222;
@body-bg: white;
@border-color: #e4e7e9;

@header-bg: white;

@nav-bg: #f6f9fa;
@nav-color: @text-color;
@nav-selection-bg: #5db6f4;
@nav-selection-color: white;

@note-list-bg: white;
@note-list-color-title: @text-color;
@note-list-color-snippet: #747474;
@note-list-color-time: @nav-selection-bg;
@note-list-selecton-bg: #f4f4f4;
